.App {
  text-align: center;
  margin-top: 5%;
}

.form-select, .form-control {
  height: 40px;
  border-radius: 8px;
}

.form-check-label {
  font-size: initial;
}

h1, h2, p {
  color: white;
}

.box {
  width: 50%;
  left: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25%;
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 8px;
  padding: 20px;
}

label {
  font-size: 90px;
  font-weight: 200;
  color: white;
}

.detail-fonts {
  font-size: 18px;
  font-weight: 300;
}

.btn {
  width: 25%;
  margin-top: 15px;
  background-color: #48484ab9;
  border: 0px;
}

.btn:hover {
  background-color: #48484A;
}